<!-- <app-nav></app-nav> -->
<div class="container">
  <div class="starter-template">
    <header>
      <div class="">
        <div class="row">
          <div class="input-group col-xs-12">
            <input id="item" type="text" class="" placeholder="Enter an activity to do...">
            <span class="input-group-btn">
              <button id="add" class="btn btn-default activity-add" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /. -->
      </div>
    </header>
  </div>
</div>
<!-- <app-footer></app-footer> -->